__pycache__
build
*.egg-info
*.wav
.DS_Store
*tmp*
onnx
mlx_convert/.venv
mlx_convert/gigaam-v3-ctc-mlx/
mlx_convert/gigaam-v3-ctc-mlx-fp32/
mlx_convert/gigaam-v3-rnnt-mlx/
mlx_convert/gigaam-v3-e2e-rnnt-mlx/
train_utils/data
train_utils/checkpoints
.venv
.mypy_cache
.pytest_cache
scripts
